body {
  font-family: Arial, sans-serif;
  background-color: #c6b8ca;
  margin: 0;
  padding: 20px;
}
div.container{
  display: grid;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 400px;
    height: 1650px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="taxt"]{
  margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}
input[type="text"]
:hover
{
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

input[type="text"],
select {
  margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}
input[type="text"],select:hover
{
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

input[type="text"] {
  margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}
input[type="text"]:hover
{
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}
input[type="number"] {
  margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}
input[type="number"]:hover
{
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

input[type="submit"] {
  height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    cursor: pointer;
    box-shadow:
      0 0 10px antiquewhite,
      0 0 10px antiquewhite;
}

input[type="submit"]:hover {
  background-color: antiquewhite;
    box-shadow: none;
}

@media (max-width: 600px) {
  form {
      padding: 15px;
  }

  input[type="submit"] {
      width: 100%;
  }
}
